<!DOCTYPE html>
<html lang="ru">
<head>
    <title>Згенерувати початкові дані</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/styles/style.css">
</head>
<body>
<form method="get" action="main_menu">
    <button type="submit">На головну</button>
</form>

<form method="get" action="generate_tables">
    <button type="submit">Генерувати таблиці</button>
</form>

<form method="get" action="normal_start">
    <button type="submit">Встановити звичайний початок роботи</button>
</form>

<form method="get" action="preferred_start">
    <button type="submit">Встановити бажаний початок роботи (де можливо)</button>
</form>
</body>
</html>