<!DOCTYPE html>
<html lang="ru">
<head>
    <title>Головна</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/styles/style.css">
</head>
<body>
<form method="get" action="initialize_database">
    <button type="submit">Згенерувати початкові дані</button>
</form>

<form method="get" action="profit">
    <button type="submit">Прибуток</button>
</form>

<form method="get" action="departments">
    <button type="submit">Відділи</button>
</form>

<form method="get" action="roles">
    <button type="submit">Посади</button>
</form>

<form method="get" action="employees">
    <button type="submit">Працівники</button>
</form>
</body>
</html>